*{
    box-sizing: border-box;
}
@media (max-width: 300px) {
    h1, .board, .restart{
        font-size: 2rem;
    }
}
body{
    color: #fff;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #16D9E3;
}

.start {
    font-size: 1.5rem;
}

h1 {
    line-height: 1.4;
    font-size: 4rem;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-out;
    background: linear-gradient(90deg, #232332 0%, #372020 100% );
}

.screen.up{
    margin-top: -100vh; 
}

.time-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.time-list li{
    margin: 10px;
}

.time-btn {
    background-color: transparent;
    border: 2px solid #C0C0C0;
    color: #fff;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}

.time-btn:hover{
    border: 2px solid #16D9E3;
    color: #16D9E3;
}

.hide {
    opacity: 0;
}

.primary {
    color: #16D9E3;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 500px;
    background: black;
    box-shadow: -8px -8px 20px #01121d, 10px 7px 20px #01121d;
    border-radius: 30px;
    overflow: hidden;
    font-size: 4rem;
}

.circle {
    background: red;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}

.hidden {
    display: none;
}

.restart {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid #16D9E3;
    cursor: pointer;
    font-size: 3rem;
    line-height: 1.4;
}

.restart:hover{
    color: #16D9E3;
}